body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

p {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 12px;
    margin-left: 5px;
}

input, button{
    font-family: "Quicksand", sans-serif;

}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 40px;
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    border: 0px solid #FFFFFF;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;
}

.navbar-item-left {
    justify-content: flex-start;
    flex-grow: 1;
}

.navbar-item img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.navbar-item h1 {
    margin: 0;
    font-size: 24px;
    color: #3BB77E;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    padding: 5px 10px;
    margin-left: 60px;
}

.all-products-dropdown {
    display: flex;
    align-items: center;
    color: black;
    width: 250px;
    height: 20px;
    font-size: 12px;
    margin-right: 5px;
    justify-content: space-between;
}

.all-products-dropdown .fas.fa-bars {
    margin-right: 15px;
}

.all-products-dropdown .fas.fa-chevron-down {
    margin-left: auto
}

.separator {
    margin: 0 5px;
    color: black;
}

.search-input-container {
    background-color: #F3F3F3;
    position: relative;
    width: 450px;
}

#search-input {
    background-color: #F3F3F3;
    width: 100%;
    padding: 5px;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    border: none;
    margin-left: 5px;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 15px; 
}

.search-button i {
    font-size: 16px;
    color: black; 
}
.search-button:hover {
    background-color: #f2f2f2;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    color: #3BB77E;
    margin-left: 5px;
}

.navbar-item a {
    font-size: 12px;
    color: #3BB77E;
    text-decoration: none;
    margin-left: 5px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right.navbar-item {
    color: #3BB77E;
    margin-right: 150px;
    gap: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-icon {
    margin-left: 5px;
    font-size: 10px;
    color: #3BB77E;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .all-products-dropdown {
    color: black;
}

@media only screen and (max-width: 600px) {
    #navbar {
        padding: 10px 20px;
    }
    .navbar-item {
        margin-left: 20px;
    }
    .navbar-item-left {
        flex-grow: 0;
    }
    .search-container {
        margin-left: 20px;
    }
    .search-container input {
        width: 150px;
    }
    .navbar-right.navbar-item {
        margin-right: 20px;
    }
}

#bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #3BB77E;
    color: #ffffff;
    border-top: 0px solid #ffffff;
    margin-top: 45px;
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bottom-bar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.bottom-bar-item {
    margin: 0 10px; 
}
.bottom-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.bottom-bar-item {
    display: flex;
    justify-content: center;
    font-size: 14px;
    background-color: #3BB77E;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;

}

.bottom-bar-item i {
    margin-right: 8px;
    font-size: 18px;
}

.bottom-bar-item:last-child {
    cursor: default;
}

.above-bar {
    background-color: #F3FAF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 40px;
    width: 100%;
    /* width: calc(100% - 100px); */
    height: 60px;
    border: 0px solid #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.above-bar-left {
    display: flex;
    align-items: center;
    margin-left: 60px;

}

.above-bar-left i {
    margin-right: 5px;
    color: #3BB77E;
}

.above-bar-right {
    display: flex;
    align-items: center;
}

.above-bar-item {
    font-size: 14px;
    color: #3BB77E;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}


.explore-section {
    padding: 20px;
}

.explore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.explore-header p {
    font-size: 24px;
    color: #000000;
    margin: 0;
    margin-left: 15px;
    font-weight: 600;
}
.explore-buttons {
    display: flex;
    gap: 10px;
}

.explore-button {
    background: none;
    border: none;
    color: #3BB77E;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}


.categories {
    display: flex;
    align-items: center;
    position: relative;
}

.category-list {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.category-item {
    flex: 0 0 auto;
    width: 150px;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
}

.category-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.category-item p {
    font-family: "Quicksand", sans-serif;
    color: #3BB77E;
    margin: 0;
    font-size: 16px;
}

.category-item span {
    display: block;
    font-size: 14px;
    color: #666;
}

.featured-section, .daily-best-sells {
    padding: 20px;
}

.featured-header, .daily-best-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.explore-header p, .featured-header p, .daily-best-header p {
    font-size: 24px;
    color: #000000;
    margin: 0;
    margin-left: 15px;
    font-weight: 600;
}

.featured-buttons{
    display: flex;
    gap: 10px;
}

.explore-button, .featured-button, .daily-best-button {
    background: none;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}


.featured-products {
    display: flex;
    align-items: center;
    position: relative;
}

.arrow {
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: #3BB77E;
    border: none;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.product-item {
    background-color: white;
    width: 100%;
    /* min-width: 200px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    position: relative;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    border-radius: 5px;
}

.product-card{
    margin-left: 15px;
}

.product-item img {
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.product-item span {
    margin: 5px 0;

    font-size: 14px;
    color: #3BB77E;
}

.product-rating {
    display: flex;
    align-items: center;
}

.product-rating .star {
    color: #FDC040;
    font-size: 10px;
}

.product-rating .star.inactive {
    color: lightgray;
}

.product-price-add {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.product-price {
    font-size: 16px;
    color: #3BB77E;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #DEF9EC;
    color: #3BB77E;
    font-size: 12px;
    padding: 5px 25px;
    border: none;
    height: 30px;
    cursor: pointer;
}

.add-to-cart i {
    margin-right: 5px;
}

.add-to-cart:hover {
    background-color: #b5f8d7;
}

.product-name-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 5px; 
}

.product-name-wrapper p {
    color: gray;
    margin: 0;
    text-align: left;
    flex-grow: 1;
}



/* .product-item p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    color: gray;
} */

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.heart-icon.beat {
    animation: bounce 0.6s;
}

.red {
    color: rgb(198, 64, 64);
}

.placeholder-text {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #888;
    pointer-events: none;
    transition: transform 0.5s, opacity 0.5s;
}

.placeholder-text.scroll-up {
    transform: translateY(0%);
    opacity: 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 5px;
}

.quantity-button {
    background-color: #DEF9EC;
    color: #000000;
    border: none;
    width: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;

    justify-content: center;
    text-align: center;
    align-items: center;
    align-items: center;
    display: flex;
    margin-left: auto;
}

.quantity-button:hover {
    background-color: #a7f6cf;
}

.quantity {
    width: 30px;

    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}


.daily-best-quantity {
    background-color: #DEF9EC;
    color: #000000;
    border: none;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    border: #000;
    justify-content: center;
    display: flex;
    margin-left: auto;
}

.daily-best-quantity:hover {
    background-color: #a7f6cf;
}
.daily-quantity {
    width: 110px;
    font-size: 14px;
    font-weight: bold;
}


.expires-in {
    display: flex;
    background-color: #F35244;
    align-items: center;
    margin-left: 20px;
    padding: 5px 9px;
    color: #ffffff;
}

.expires-in .timer {
    background-color: #F35244;
    color: white;
    padding: 5px 9px;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-card {
    background-color: white;
    padding: 20px;
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.discount-label {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFD480;
    color: white;
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 0.8em;
}

.product-card img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product-card .category {
    margin: 0;
    font-size: 12px;
    padding-bottom: 10px;

    text-align: left;
    color: gray;
}

.product-card .product-title {
    font-size: 16px;
    color: #3BB77E;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin: 0;

}

.product-card .seller {
    color: #3BB77E;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}
.daily-best-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daily-best-header-left {
    display: flex;
    align-items: center;
}

.daily-best-header-left p {
    margin-right: 80px;
}

.daily-best-buttons {

    display: flex;
    gap: 10px;
}


.daily-add-to-cart-button{
    width: 165%;

    text-align: center;
    background-color:#3BB77E;
    color: #ffffff;
    font-size: 12px;
    border: none;
    height: 30px;
    padding: 5px 25px;
    cursor: pointer;
}

.price {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.new-price {
    color: #3BB77E;
    font-size: 18px;
    text-align: left;
}

.old-price {
    color: #aaa;
    text-decoration: line-through;
    font-size: 14px;
    padding-top: 2px;
    margin-bottom: auto;
}

.sold {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #3BB77E;
}

.sold-bar {
    width: 100%;
    height: 5px;
    background-color: #3BB77E;
    margin-bottom: 5px;
}

.new-member-offer {
    background-color: #FFFCEB;
    padding: 20px;
    width: 245px;
    text-align: center;
}

.new-member-offer h3 {
    font-size: 2em;
    color: #3BB77E;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 12px;
}

.signup-form button {
    background-color: #3BB77E;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 12px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.input-wrapper input[type="email"], .input-wrapper input[type="password"]{
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 12px;
    font-family: "Quicksand", sans-serif;
    color: #000000;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box; 
}

.input-wrapper input[type="email"]::placeholder, .input-wrapper input[type="password"]::placeholder {
    color: #ccc;
}

.top-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.top {
    width: 22%;
    margin-bottom: 20px;
}

.top-sells-heading {
    position: relative;
    font-size: 20px;
    color: #000000;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    padding-bottom: 5px;
}

.top-sells-heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 2px;
    background: linear-gradient(to right, #3BB77E 50%, rgba(240, 240, 240, 0.5) 50%);
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product img {
    border: 15px solid #F4F6FA;
    max-width: 100px;
    margin-left: 5px;
    margin-right: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-info .top-product-name {
    margin: 0;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    
}

.cart-quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #F3FAF5;
    color: #000000;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    display: none;
}

.cart-page {
    margin-top: 150px;
    padding: 20px;
    max-width: 800px;
}

.cart-item {
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-item img {
    margin-right: 20px;
}

.cart-item p {
    color: #000;
    margin: 0 10px;
}

.cart-total {
    font-size: 16px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;
}

.checkout {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

.empty-cart-message {
    text-align: center;
    font-size: 16px;
    margin-top: 600px;
}
